/* FONTS */
@font-face {
  font-family: "SFProText";
  font-weight: 300;
  src: url(assets/fonts/SFProText-Light.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 400;
  src: url(assets/fonts/SFProText-Regular.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 500;
  src: url(assets/fonts/SFProText-Medium.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 600;
  src: url(assets/fonts/SFProText-Semibold.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 700;
  src: url(assets/fonts/SFProText-Bold.ttf);
}

@font-face {
  font-family: "SFProText";
  font-weight: 900;
  src: url(assets/fonts/SFProText-Heavy.ttf);
}

:root {
  --background-color: #1B1E23;
  --background-card-color: #242632;
  --text-color: #f2f2f2;
  --secondary-text-color: #818181;
  --alternative-text-color: #000000;
  --main-color: #6C5CD6;
}

#root {
  gap: 32px;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
  font-family: "SFProText", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none; 
  color: var(--main-color);
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */
.floating-input {
  position: relative;
  width: 100%;
  height: auto;
}

.floating-input input, .floating-input textarea {
  width: 100%;
  background-color: transparent;
  border: 2px var(--main-color) solid;
  padding: 16px;
  font-size: clamp(1rem, 2vh, 1.5rem);
  line-height: 1.2;
  color: var(--text-color);
  outline: none;
  border-radius: 16px;
}

/* Прячем placeholder, чтобы не мешался */
.floating-input input::placeholder, .floating-input textarea::placeholder {
  color: transparent;
}

/* Лейбл */
.floating-input label {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: clamp(1rem, 2vh, 1.5rem);
  line-height: 1.2;
  color: var(--secondary-text-color);
  pointer-events: none;
  padding: 0 4px;
  border-radius: 4px;
  transition: 0.2s ease all;
}

/* Когда поле пустое — label внутри */
.floating-input input:placeholder-shown + label, .floating-input textarea:placeholder-shown + label {
  top: 16px;
  font-size: clamp(1rem, 2vh, 1.5rem);
  line-height: 1.2;
  color: var(--secondary-text-color);
}

/* Когда фокус или есть текст — label наверху */
.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label,
.floating-input textarea:focus + label,
.floating-input textarea:not(:placeholder-shown) +label {
  top: -16px;
  left: 16px;
  padding: 8px 16px;
  background-color: var(--background-card-color);
  font-size: clamp(0.8rem, 2vh, 1rem);
  color: var(--secondary-text-color); /* синий при фокусе */
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 20px;
  border: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.titleText {
  font-size: clamp(1rem, 2vh, 1.5rem);
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.3;
}

.main {
  width: 1440px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.notificationMessage {
  top: 16px;
  gap: 8px;
  position: absolute;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--main-color);
}
