.addFilmPage {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 16px;
}

.titleText {
    width: 100%;
    text-align: start;
    padding-left: 16px;
}

.findOrAddFilmBox {
    width: 100%;
    position: relative;
    background-color: var(--background-card-color);
    padding: 16px;
    gap: 24px;
    border-radius: 28px;
}

.findOrAddFilmBox .inputsBox {
    gap: 16px;
    width: 100%;
}

.findOrAddFilmBox .inputsBox p {
    font-size: clamp(1rem, 2vh, 1.5rem);
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.3; 
    text-transform: uppercase;
}

.findOrAddFilmBox .addFillmFromLink {
    width: 100%;
}

.searchResults {
    top: 133px;
    left: 0px;
    padding: 16px;
    border-radius: 0px 0px 16px 16px;
    background-color: var(--background-card-color);
    gap: 8px;
    position: absolute;
    z-index: 9999;
}

.searchResults img {
    border-radius: 8px;
    height: 64px;
}

.searchResults .searchFilmCard {
    gap: 8px;
    cursor: pointer;
}

.searchResults .searchFilmCard img {
    width: 100%;
}

.searchResults .searchFilmCard p {
    font-weight: 400;
    text-transform: none;
}

.searchResults .searchFilmCard .filmText {
    gap: 8px;
}

.addFillmFromLink {
    gap: 8px;
}

.addFillmFromLink button{
    padding: 8px;
    border-radius: 12px;
    background-color: var(--main-color);
    color: var(--button-text-color);
    transition: background-color 0.5s;
}

.addFillmFromLink button:hover {
    background-color: var(--main-hover-color);
    transition: background-color 0.5s;
}

.leftBox {
    gap: 16px;
}

.choosedFilmInfoBox {
    gap: 16px;
    background-color: var(--background-card-color);
    padding: 16px;
    border-radius: 28px;
    max-width: 400px;   /* ограничение ширины */
    word-wrap: break-word; /* перенос длинного текста */
}

.floating-input.search input,
.floating-input.addFromLink input {
    border-radius: 12px;
    font-size: clamp(0.8rem, 2vh, 1rem);
}

.floating-input.search input:placeholder-shown + label,
.floating-input.search input:focus + label, .floating-input.search input:not(:placeholder-shown) + label,
.floating-input.addFromLink input:placeholder-shown + label,
.floating-input.addFromLink input:focus + label, .floating-input.addFromLink input:not(:placeholder-shown) + label {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--main-color);
}

.floating-input.search input:focus + label, .floating-input.search input:not(:placeholder-shown) + label,
.floating-input.addFromLink input:focus + label, .floating-input.addFromLink input:not(:placeholder-shown) + label {
    top: -24px;
}

.reviewBox .floating-input textarea:focus + label,
.reviewBox .floating-input textarea:not(:placeholder-shown) +label {
    top: -24px;
}


.choosedFilmInfoBox .titleText {
    padding: 0;
}

.choosedFilmInfoBox {
    min-width: 460px;
    min-height: 395px;
}

.filmInfo {
    display: flex;
    justify-content: start;
    gap: 16px;
}

.filmInfo img {
    height: 225px;
    border-radius: 12px;
}

.filmInfo .secondText {
    font-weight: 400;
    font-size: clamp(0.8rem, 2vh, 1rem);
    line-height: 1.5;
    color: var(--secondary-text-color);
}

.filmInfo .filmTextInfoBox {
    gap: 8px;
}

.genresList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.genreCard {
    background: var(--background-color);
    padding: 8px;
    border-radius: 12px;
    font-weight: 500;
    white-space: nowrap; /* жанр сам не ломается */
}

.userReviewBox {
    width: 100%;
    padding: 16px;
    gap: 16px;
    border-radius: 28px;
    min-height: 147px;
    background-color: var(--background-card-color);
}

.userReviewBox .titleText {
    padding: 0;
}

.userReviewBox .headingBox {
    width: 100%;
}

.userReviewBox .headingBox button {
    color: var(--button-text-color);
    background-color: transparent;
}

.userReviewBox .headingBox button img {
    max-width: none;
}

.reviewBox {
    gap: 8px;
}

.reviewBox textarea {
    height: fit-content;
    width: 100%;
    resize: vertical;
    overflow: hidden;
}

.reviewBox .floating-input label svg {
    color: var(--secondary-text-color);
}

.userReviewBox .sendReviewButton {
    color: var(--button-text-color);
    padding: 8px;
    gap: 8px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 8px;
    transition: background-color 0.5s;
}

.sendReviewButton:hover {
    background-color: var(--main-hover-color);
    transition: background-color 0.5s;
}
