.editProfilePage {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    gap: 32px;
    border-radius: 28px;
    background-color: var(--background-card-color);
}

.headingPageInfo.flex-between {
    width: 100%;
    justify-content: space-between;
}

.headingPageInfo.flex-between .saveChangesButton {
    gap: 8px;
    white-space: nowrap;
    background-color: var(--main-color);
    color: var(--button-text-color);
    padding: 8px;
    border-radius: 12px;
    font-size: clamp(1rem, 2vh, 1.5rem);
    font-weight: 500;
    transition: background-color 0.5s;
}

.headingPageInfo.flex-between .saveChangesButton:hover {
    background-color: var(--main-hover-color);
}

.editProfilePage .editProfileBox {
    flex: 1;
    gap: 16px;
    padding: 16px;
}

.editProfilePage .editProfileBox .infoForm {
    gap: 24px;
}

.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: var(--main-color);
    color: var(--button-text-color);
    border-radius: 28px;
    transition: background-color 0.5s;
}

.backButton img {
    max-width: none;
}

.backButton:hover {
    background-color: var(--main-hover-color);
    transition: background-color 0.5s;
}

.editProfilePage .editProfileBox .userInfo {
    align-items: start;
    gap: 16px;
}

.fullNameUser{
    font-size: clamp(1rem, 2vh, 1.5rem);
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.3;
}

.userName{
    font-size: clamp(0.8rem, 2vh, 1rem);
    font-weight: 500;
    color: var(--secondary-text-color);
    line-height: 1.5;
}

.editProfilePage .editProfileBox .userInfo .editUserAvatarBox {
    position: relative;
    gap: 8px;
}

.editProfilePage .editProfileBox .userInfo .userAvatar {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.input-file {
    position: absolute;
    top: 55px;
    left: 55px;
    background-color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
	display: flex;
}

.input-file span {
    padding: 8px;
}

.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.fullNameBox {
    gap: 24px;
}

.changeThemeBox {
    flex: 1;
}

.editUserBox {
    gap: 16px;
}

.editProfilePage .titleText {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    padding: 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.changeThemeBox {
    gap: 16px;
    padding: 16px;
}

.changeThemeBox .changeThemeInfo {
    position: relative;
    overflow: hidden;
    width: 100%;
    gap: 16px;
    border-radius: 12px;
}

.changeThemeBox .changeThemeInfo .nonSubcscribeBox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.changeThemeBox .changeThemeInfo .nonSubcscribeBox .nonSubcscribeText {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.4;
}

.changeThemeBox .changeThemeInfo .nonSubcscribeBox .goToSubscribePageButton {
    font-size: 1.5rem;
    color: var(--button-text-color);
    padding: 8px 16px;
    font-weight: 500;
    line-height: 1.4;
    background-color: var(--main-color);
    border-radius: 12px;
    transition: background-color 0.5s;
}

.changeThemeBox .changeThemeInfo .nonSubcscribeBox .goToSubscribePageButton:hover {
    background-color: var(--main-hover-color);
}

.changeThemeBox .changeThemeInfo .titleText {
    line-height: 1.5;
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 1rem;
}

.changeThemeBox .changeThemeInfo .peakThemeColorBox,
.changeThemeBox .changeThemeInfo .peakMainColorBox {
    gap: 8px;
}


.changeThemeBox .changeThemeInfo .colorsBox,
.changeThemeBox .peakThemeColorBox .themeBox {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.changeThemeBox .changeThemeInfo .colorsBox .color {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 8px;
}

.changeThemeBox .peakThemeColorBox .themeBox .theme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    gap: 8px;
    font-size: 1rem;
    font-weight: 500;
}