.registerBox, .loginBox {
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: center;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 200px;
    gap: 16px;
    background-color: var(--main-color);
}

.registerBox {
    padding-left: 120px;
}

.registerBox .backgroundText, .loginBox .backgroundText {
    left: -650px;
    top: -200px;
    position: absolute;
    z-index: 1;
    width: 1500px;
    height: 1500px;
    border-radius: 100%;
    background-color: var(--background-color);
    -webkit-box-shadow: 15px 0px 100px 0px var(--text-color);
    -moz-box-shadow: 15px 0px 100px 0px var(--text-color);
    box-shadow: 15px 0px 100px 0px var(--text-color);
}

.registerBox .registerCard, 
.loginBox .loginCard {
    padding: 16px;
    gap: 16px;
    position: relative;
    z-index: 2;
}

.registerBox .registerCard .linksBox, 
.loginBox .loginCard .linksBox {
    width: 100%;
}

.rememberBox {
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: start;
    display: flex;
    gap: 8px;
}

.rememberCheckbox {
    width: 1.3em;
    height: 1.3em;
    background-color: transparent;
    border-radius: 8px;
    vertical-align: middle;
    border: 1px solid var(--main-color);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.rememberCheckbox:checked {
    background-color: var(--main-color);
}

.registerBox form, .loginBox  form {
    gap: 16px;
}

.registerBox form .fullNameBox {
    gap: 16px;
}

.headingText {
    font-size: clamp(1.5rem, 2vh, 2rem);
    font-weight: 700;
    color: var(--main-color);
}

form button {
    font-size: clamp(1rem, 2vh, 1.5rem);
    font-weight: 500;
    line-height: 1.3;
    width: 100%;
    border-radius: 32px;
    background-color: var(--main-color);
    color: var(--button-text-color);
    padding: 16px;
    transition: backgroun-color 0.5s;
}

form button:hover {
    background-color: var(--main-hover-color);
}

.registerBox .floating-input input:focus + label, 
.registerBox .floating-input input:not(:placeholder-shown) + label,
.loginBox .floating-input input:focus + label, 
.loginBox .floating-input input:not(:placeholder-shown) + label {
    display: flex;
    align-items: center;
    top: -16px;
    left: 16px;
    padding: 8px 16px;
    background-color: var(--background-color);
    font-size: clamp(0.8rem, 2vh, 1rem);
    color: var(--secondary-text-color); }